/**
 * @file
 * Styling for wordpress toolbar module.
 */

.toolbar-icon-spreadshop-be-config::before {
  background-image: url(../img/spreadshop_logo_small.png);
}

.sprd-btn,
.spreadshop-form #edit-submit {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Lucida Sans", sans-serif;
  font-weight: normal;
  font-size: 17px;
  /* Chrome specific to keep consistent button styling */
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #ffa64c !important;
  background-image: none;
  display: inline-block;
  border-style: none;
  border-radius: 3px;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  padding: 6px 12px;
  margin: 10px 5px 0 0;
  text-decoration: none;
  width: 100%;
  max-width: 200px !important;
  text-align: center;
}

.sprd-btn:hover,
.spreadshop-form #edit-submit:hover {
  color: #fff !important;
  background-color: #ff8c17 !important;
  text-decoration: none;
}

.sprd-btn--faq {
  display: block;
  margin: 20px 0;
  color: #444;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #444;
  max-width: 175px;
}

.sprd-btn--faq:hover {
  color: #ff8c17 !important;
  border-bottom: 1px solid #ff8c17;
  text-decoration: none;
}

label[for=edit-essentialsettings],
label[for=edit-additionalsettings] {
  font-size: 15px;
  border-bottom: 1px solid black;
  width: 500px;
  padding: 5px 0;
  margin: 20px 0;
}

label[for=edit-shopurlhint] {
  font-size: 12px;
  font-style: italic;
  padding: 5px 0;
  margin-top: -10px;
  color: #b7b7b7;
}
